*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // This defines what 1rem is
    // 1rem = 10px; 10px/16px = 62.5%
    font-size: 62.5%; /* 10px */
    
    // Default CSS: 1200px < viewport width < 1600px

    @include respond(large-2) {
        font-size: 56.25%; /* 9px */
    }

    @include respond(medium-2) {
        font-size: 50%; /* 8px */
    }

}

body {
    background-image: linear-gradient(to right bottom, var(--color-primary-light),  var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

}

::selection {
    background-color: $color-primary;
    color: $color-white;
}