.header {
    
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    // Align in main axis: X
    justify-content: space-between;

    // Align in cross axis: Y
    align-items: center;
   
}

.logo {
    height: 4rem;
    transform: translateY(-.75rem);
    
    margin-left: 2rem;
}
