/* 
0 - 200px:      Light-Bar
200 - 600px:    Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800px:  Desktop First CSS
+1800px:        Desktop Big
*/
/* Order of responsive design in a Desktop-First Approach 
(from Large to Small screen size using Max width media query)

ORDER: Base + Typography > General layout + Grid > Page layout > Components
*/
:root {
  --color-primary: #ce0f45;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .05);
  --line: 3px solid var(--color-grey-light-2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 20rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 10rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.sidebar {
  background-color: var(--color-grey-dark-3);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-nav {
  list-style: none;
  margin-top: 3.5rem;
  font-size: 1.4rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.05s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 1000;
    position: relative; }
  .side-nav__icon {
    margin-right: 2rem;
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }

.content {
  display: flex; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 4rem;
  transform: translateY(-0.75rem);
  margin-left: 2rem; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  position: relative; }
  .user-nav > * {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    padding: 0 2.5rem;
    position: relative; }
  .user-nav__icon-box::after {
    content: "";
    display: table;
    clear: both; }
  .user-nav__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark); }
  .user-nav__notification {
    z-index: 1000;
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary-dark);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: .6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    padding: 0 2rem 0 2rem; }
  .user-nav__user-photo {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 0.25rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-3); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-2); }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary); }

.hotel-view {
  background-color: #fff;
  flex: 1;
  height: 50rem; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: .1rem solid currentColor;
  padding-bottom: .2rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 12.5em) {
    html {
      font-size: 12.5%; } }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 3rem 0 3rem;
  min-height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #ce0f45;
  color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  /*font-size: 16px;*/
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2.5rem;
        letter-spacing: 1.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(-5deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 0.6rem; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  text-align: center;
  position: fixed;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  z-index: 1000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 1rem; } }
  .navigation__button:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .navigation__button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      border: 5px solid red; }
  .navigation__button::after {
    content: "";
    display: inline-block;
    border: 5px solid white;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .9s; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient(#FF3366, #BA265D);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 1.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style-type: none;
  width: 100%; }

.navigation__item {
  margin: .5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1.5rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s ease; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #FF3366;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 1500; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 3px;
    background-color: #333;
    transition: all .2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0rem; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(45deg); }
