/* 
0 - 200px:      Light-Bar
200 - 600px:    Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800px:  Desktop First CSS
+1800px:        Desktop Big
*/
/* Order of responsive design in a Desktop-First Approach 
(from Large to Small screen size using Max width media query)

ORDER: Base + Typography > General layout + Grid > Page layout > Components
*/
:root {
  --color-primary: #ce0f45;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 20rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 10rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 150rem; }

.sidebar {
  background-color: var(--color-grey-dark-3);
  flex: 0 0 18%; }

.hotel-view {
  background-color: #dd4d4d;
  flex: 1; }

.content {
  display: flex; }

.header {
  height: 30rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.logo {
  height: 3.25rem; }

.search__icon {
  height: 2rem;
  width: 2rem; }

.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem; }

.user-nav__user-photo {
  border-radius: 50%;
  height: 3rem;
  width: 3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 12.5em) {
    html {
      font-size: 12.5%; } }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 3rem 0 3rem;
  min-height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #ce0f45;
  color: #fff; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  /*font-size: 16px;*/
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2.5rem;
        letter-spacing: 1.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(-5deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 0.6rem; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
